[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userprefs
*.sln.docstates

.vscode/

**/publish/
**/Release/
**/Debug/

appsettings.Development.json
appsettings.Local.json
.env

*.log

.DS_Store
Thumbs.db

TestResult.xml
*.visualstate.xml

node_modules/
npm-debug.log
yarn-error.log
.expo/
web-build/