@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full hover:bg-slate-600;
}
@layer components {
  .admin-input {
    @apply w-full bg-slate-950/50 border border-slate-800 rounded-2xl p-4 text-white text-sm placeholder:text-slate-600 focus:ring-2 focus:ring-rose-500/50 focus:border-rose-500 transition-all outline-none;
  }
  .admin-submit-btn {
    @apply w-full bg-rose-600 hover:bg-rose-500 text-white font-black py-4 rounded-2xl shadow-lg shadow-rose-900/20 transition-all active:scale-[0.98] uppercase tracking-widest text-xs;
  }
}